@import "tailwindcss";

@theme {
  --color-neon-pink: #FF6EC7;
  --color-charcoal: #262626;
  --color-palm-green: #4C9A2A;
  
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #262626;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
